<section class="uk-section uk-padding uk-margin-medium-bottom uk-flex uk-flex-middle">

    <div class="uk-width-expand">
        <h1 class="uk-text-center uk-margin-large-bottom">{{title}}</h1>
        <h2 class="uk-text-center">{{subtitle}}</h2>
    </div>

</section>