<footer class="uk-section">

    <h1 class="uk-text-center">This project is powerd by:</h1>

    <section class="uk-section uk-match uk-child-width-1-1@l" uk-grid>

        <!-- First column of credits -->
        <div class="uk-flex uk-flex-column uk-flex-around uk-flex-center uk-text-center">
            <hr class="uk-divider-icon uk-margin-auto">
            <h2>Front-end technologies</h2>
            <ul class="uk-list">
                <li><fa-icon [icon]="faAngular" [styles]="{'color': 'crimson'}" size="2x" class="uk-margin-right"></fa-icon><a>Angular</a> - front-end framework</li>
                <li><fa-icon [icon]="faUikit" [styles]="{'color': '#39f'}" size="2x" class="uk-margin-right"></fa-icon><a>UIkit</a> - css framework</li>
                <li><fa-icon [icon]="faLess" [styles]="{'color': '#1d365d'}" size="2x" class="uk-margin-right"></fa-icon><a>Less</a> - css pre-processor</li>
                <li><fa-icon [icon]="faFontAwesome" [styles]="{'color': '#1864ab'}" size="2x" class="uk-margin-right"></fa-icon><a>Font Awesome</a> - icons</li>
                <li><a>My Color Space</a> - color palette</li>
                <li><a>Undraw</a> - illustrations</li>
            </ul>
        </div>

        <hr class="uk-divider-icon uk-margin-auto">

    </section>

</footer>