@import "../../_variables.less";

ul.uk-list li {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
    color: @text-color;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.uk-list li a {
    color: @link-color;
    position: relative;
    text-decoration: none;
}

/* Adding underline effect to the links */
ul.uk-list li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

ul.uk-list li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: @link-color;
    bottom: 10%;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all .3s ease-in-out;
}

h1, h2 {
    font-family: 'Noto Sans', sans-serif;
    color: @text-color;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}

hr.uk-divider-icon {
    width: 50%;
}

.uk-divider-icon::before, .uk-divider-icon::after {
    border-bottom: 1px solid @brand-color-sister;
}

/* Changing font size at larger resolutions */
@media only screen and (min-width: 960px) {
    ul.uk-list li {
        font-size: 1em + .2vw;
    }
}