<header-comp
    title="Discover Instrumentality"
    subtitle="Take a peek on the features that make us stand out."
>
</header-comp>

<features-banner-comp
    background="../../assets/Illustrations/Landing/background5.svg"
    title="1. Productivity Orchestration"
>

</features-banner-comp>

<section class="uk-section uk-padding uk-child-width-1-3@l uk-grid-match" uk-grid>

    <card-comp 
        bgLocation="../../assets/Illustrations/Landing/background6.svg"
        imageLocation="../../assets/Illustrations/Landing/leader.svg"
        cardTitle="Manage your team like never before"
        cardContent="Team leaders are in for a real treat. We make it easy for you to get valuable insight into the health of a project. From burndown charts, to 
                    detailed views, you get all the power you need to manage your projects."
    >
    </card-comp>

    <card-comp 
        bgLocation="../../assets/Illustrations/Landing/background7.svg"
        imageLocation="../../assets/Illustrations/Landing/project.svg"
        cardTitle="Easy task management system"
        cardContent="Managing tasks is a breeze with Instrumentality. The minimalist, yet comprehensive, interface makes it easier for everyone to organize their work.
                    Your teammates get real-time updates of what you're working on so you can all get on the same page instantly."
    >
    </card-comp>

    <card-comp 
        bgLocation="../../assets/Illustrations/Landing/background8.svg"
        imageLocation="../../assets/Illustrations/Landing/helping.svg"
        cardTitle="Helping developers focus on their code"
        cardContent="We know how important it is to be organized. We also know that putting everything in order can take a lot of time, time that would be much better 
                    spent on building awesome stuff. That's why we try to make it as easy as possible for developers to quickly log their tasks and progress and get back to
                    work that really matters. We break away from complex fetures that slow you down."
    >
    </card-comp>

</section>

<features-banner-comp
    background="../../assets/Illustrations/Landing/background9.svg"
    title="2. Blockchain Composition"
>

</features-banner-comp>

<section class="uk-section uk-padding uk-child-width-1-3@l uk-grid-match" uk-grid>

    <card-comp 
        bgLocation="../../assets/Illustrations/Landing/background10.svg"
        imageLocation="../../assets/Illustrations/Landing/profile.svg"
        cardTitle="Always fresh resume"
        cardContent="Your developer profile is stored on our 'baked-in-house' blockchain. As you use the platform your profile is being updated with new information about
                    technologies you use, level of experience, average time spent on task, companies you worked for, projects you've contributed to, etc."
    >
    </card-comp>

    <card-comp 
        bgLocation="../../assets/Illustrations/Landing/background11.svg"
        imageLocation="../../assets/Illustrations/Landing/blockchain.svg"
        cardTitle="Building trust with each block"
        cardContent="Since blockchain is a decentralised technology, your profile will remain with you once you decide to change the company you work for. The next employer
                    can easily check your profile which is a trustworthy source about your skills."
    >
    </card-comp>

    <card-comp 
        bgLocation="../../assets/Illustrations/Landing/background12.svg"
        imageLocation="../../assets/Illustrations/Landing/hire.svg"
        cardTitle="Hiring just got upgraded"
        cardContent="We make the hiring process faster, by providing the employers a candidate profile they can trust. Companies can get an accurate overview of a candidate's
        skills and we make sure the candidate doesn't get rejected because he had a bad day at the interview."
    >
    </card-comp>

</section>

<features-banner-comp
    background="../../assets/Illustrations/Landing/background13.svg"
    title="3. Free Software Symphony"
>
</features-banner-comp>

<section class="uk-section uk-padding uk-child-width-1-2@m uk-grid-match" uk-grid>

    <card-comp 
        bgLocation="../../assets/Illustrations/Landing/background7.svg"
        imageLocation="../../assets/Illustrations/Landing/universe.svg"
        cardTitle="Join the Free Software Universe"
        cardContent="Instrumentality is free software that respects the user's rights and privacy. The data stored on the blockchai is encrypted using modern standards
                    so nobody can tell the difference between two people if they don't know which public address belongs to who."
    >
    </card-comp>

    <card-comp 
        bgLocation="../../assets/Illustrations/Landing/background11.svg"
        imageLocation="../../assets/Illustrations/Landing/instance.svg"
        cardTitle="Host your own Instrumentality"
        cardContent="Due to the nature of the platform you can always host your own instance of the platform, thus becoming a master-node which helps secure the blockchain 
                    network, assuring that the data about the candidates can always be trusted."
    >
    </card-comp>

</section>