@import "../../_variables.less";

/* General card styles and mobile style*/

.uk-card {
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-radius: .5em;
}

.uk-card-media-top {
    background-size: cover;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.uk-card-media-top img {
    width: 70%;
}

.uk-card-body h2, .uk-card-body p {
    font-family: 'Noto Sans', sans-serif;
    color: @text-color;
}

.uk-card-body h2 {
    font-size: calc(1.2em + 0.5vw);
}

.uk-card-body p {
    font-size: calc(1em + 0.15vw);
}

/* Adjust card font sizes at extra large resolutions */
@media only screen and (min-width: 2560px) {
    .uk-card-body h2 {
        font-size: calc(1.2em + 0.75vw);
    }
    
    .uk-card-body p {
        font-size: calc(1em + 0.25vw);
    }
}