<!-- The card container. It applies the nice card shadow -->
<div class="uk-card uk-card-default">

    <!-- Sets an image at the top of the card. -->
    <div class="uk-card-media-top uk-flex uk-flex-center" style="background-image: url({{bgLocation}});">
        <img src="{{imageLocation}}" alt="Completing tasks">
    </div>

    <!-- The content of the card -->
    <div class="uk-card-body uk-text-center">
        <h2 class="uk-card-title">{{cardTitle}}</h2>
        <p>{{cardContent}}</p>
    </div>

</div>