@import "../../_variables.less";

section {
    height: 50vh;
    background-size: cover;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    font-size: calc(1em + 4vw);
    color: @text-color;
    text-shadow: 
		-0.0075em 0.0075em 0 mix(#fff, @brand-color, 94%),
		0.005em 0.005em 0 mix(#fff, @brand-color, 60%),
		0.01em 0.01em 0 mix(#fff, @brand-color, 62%), 
		0.015em 0.015em mix(#fff, @brand-color, 64%), 
		0.02em 0.02em 0 mix(#fff, @brand-color, 66%), 
		0.025em 0.025em 0 mix(#fff, @brand-color, 68%),
		0.03em 0.03em 0 mix(#fff, @brand-color, 70%),
		0.035em 0.035em 0 mix(#fff, @brand-color, 72%);
}
