<!-- This component has a background and title that introduces a new set of features to the user -->
<section class="uk-section uk-section-large uk-padding uk-flex uk-flex-middle uk-flex-center" style="background-image: url({{background}});">

    <h1 class="uk-text-center">{{title}}</h1>

</section>