<!-- Stick the navbar to the top -->
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">

    <nav class="uk-navbar-container" uk-navbar>

        <!-- Left side of the navbar contains the logo and the name of the project -->
        <div class="uk-navbar-left">
            <a routerLink="" routerLinkActive="active" class="uk-navbar-item uk-logo">
                <img src="../../assets/Illustrations/Logo/Instrumentality-Logo.svg" alt="Instrumentality logo" width="42px" height="42px">
                <span class="uk-margin-small-left">Instrumentality</span>
            </a>
        </div>

        <!-- The center part of the navbar hosts all the main links on larger devices -->
        <div class="uk-navbar-center uk-visible@m">
            <ul class="uk-navbar-nav">
                <li><a routerLink="/features" routerLinkActive="active">Features</a></li>
                <li><a href="">For developers</a></li>
            </ul>
        </div>

        <!-- The right side of the navbar will host the burger menu on mobile devices... -->
        <div class="uk-navbar-right uk-hidden@m" id="burger-container">
            <button class="uk-button uk-navbar-item" type="button" uk-toggle="target: #mobile-navigation;">
                <fa-icon [icon]="faBars" size="lg"></fa-icon>
            </button>
        </div>

        <!-- And this is the right side that gets displayed on larger devices like laptops -->
        <!-- It hosts the login and signup options -->
        <div class="uk-navbar-right uk-visible@m">
            <ul class="uk-navbar-nav">
                <li><a href="">Login</a></li>
                <li><a href="">Signup</a></li>
            </ul>
        </div>

    </nav>

</div>

<!-- Following is the off-canvas navigation component that appears on mobile devices when clicking the burger menu -->
<div id="mobile-navigation" uk-offcanvas="flip: true;">

    <!-- This div holds the actual navigation layout -->
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">

        <!-- A close button for the off-canvas navbar -->
        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">

            <li><a routerLink="/features" routerLinkActive="active">Features</a></li>
            <li><a href="">For developers</a></li>

            <hr class="uk-divider">

            <li><a href="">Login</a></li>
            <li><a href="">Signup</a></li>

        </ul>

    </div>

</div>