@import "../../_variables.less";

/* Mobile navbar style and general style */

.uk-navbar-container {
    background-color: rgba(255, 255, 255, 0.7); // Sets the navbar background
    backdrop-filter: blur(1em) saturate(200%);
}

// Styling the navbar links
.uk-navbar-nav li a{
    color: @text-color;
    font-family: 'Noto Sans', sans-serif;
    font-size: calc(1em + .15vw);
    position: relative;
}

.uk-logo {
    color: @brand-color;
    font-size: calc(1.2em + .3vw);
    font-family: 'Noto Sans', sans-serif;
}

// Styling the off-canvas navbar for mobile phones
.uk-offcanvas-bar {
    background-color: white;
}

.uk-offcanvas-bar .uk-close {
    color: @text-color;
}

.uk-offcanvas-bar .uk-nav-primary li a {
    color: @text-color;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
    position: relative;
}

.uk-offcanvas-bar .uk-divider {
    border: 1px solid @brand-color-sister;
}

// Adding a nice effect on link hovering
.uk-offcanvas-bar .uk-nav-primary li a:hover, 
.uk-navbar-nav li a:hover {
    color: @brand-color;
}

.uk-offcanvas-bar .uk-nav-primary li a:hover::before, 
.uk-navbar-nav li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.uk-offcanvas-bar .uk-nav-primary li a::before, 
.uk-navbar-nav li a::before {
    content: "";
    position: absolute;
    width: 76%;
    height: 2px;
    background-color: @brand-color;
    bottom: 10%;
    left: 12%;
    visibility: hidden;
    transform: scaleX(0);
    transition: all .3s ease-in-out;
}

.uk-navbar-nav li a.active {
    color: @brand-color;
}

.uk-navbar-nav li a.active::before {
    content: "";
    position: absolute;
    visibility: visible;
    width: 76%;
    height: 2px;
    background-color: @brand-color;
    bottom: 10%;
    left: 12%;
    transform: scaleX(1);
}

/* On extra large displays */
@media only screen and (min-width: 2560px) {
    .uk-logo {
        font-size: calc(1em + .7vw);
    }

    .uk-navbar-nav li a {
        font-size: calc(1em + .4vw);
    }
}