@import "../../_variables.less";

section.uk-section {
    background-image: url("../../assets/Illustrations/Landing/background4.svg");
    background-size: cover;
}

h1, h2 {
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-weight: 900;
    font-size: calc(1em + 6vw);
    color: @text-color;
    text-shadow: 
		-0.0075em 0.0075em 0 mix(#fff, @brand-color, 94%),
		0.005em 0.005em 0 mix(#fff, @brand-color, 60%),
		0.01em 0.01em 0 mix(#fff, @brand-color, 62%), 
		0.015em 0.015em mix(#fff, @brand-color, 64%), 
		0.02em 0.02em 0 mix(#fff, @brand-color, 66%), 
		0.025em 0.025em 0 mix(#fff, @brand-color, 68%),
		0.03em 0.03em 0 mix(#fff, @brand-color, 70%),
		0.035em 0.035em 0 mix(#fff, @brand-color, 72%);
}

h2 {
    font-weight: 700;
    font-size: calc(1em + 1.8vw);
    color: @text-color;
}

button.uk-button {
    background-color: @brand-color-sister-dark;
    font-family: 'Noto Sans', sans-serif;
    color: @text-color;
    font-size: 1.2em + 0.2vw;
    transition: background-color 0.3s ease-in-out;
}

button.uk-button:hover {
    background-color: @brand-color-sister;
}