<section class="uk-section uk-padding uk-section-large uk-text-center">

    <h1 class="uk-margin-large-bottom">See how we use blockchain</h1>
    <h2 class="uk-margin-large-bottom">Build your reputation as a developer!</h2>

    <button class="uk-button uk-button-large" type="button">Read more about it</button>

</section>