<header-comp
    title="Instrumentality"
    subtitle="Keep your task list clean! Just like your code."    
>
</header-comp>

<section class="uk-section uk-padding uk-margin-large-bottom uk-grid-match uk-child-width-1-3@l" uk-grid>

    <card-comp 
        bgLocation="../../assets/Illustrations/Landing/background1.svg"
        imageLocation="../../assets/Illustrations/Landing/tasks.svg"
        cardTitle="Productivity Powerhouse"
        cardContent="Manage all your tasks with ease and organize your work. Declutter your brain and explore how we can help you be more productive."
    >
    </card-comp>

    <card-comp 
        bgLocation="../../assets/Illustrations/Landing/background2.svg"
        imageLocation="../../assets/Illustrations/Landing/open-source.svg"
        cardTitle="Instrumentality is Free Software"
        cardContent="We respect our users and are transparent about what our product does. You can even setup your own Instrumentality instance for you and your friends so you can work easier togeter."
    >
    </card-comp>

    <card-comp 
        bgLocation="../../assets/Illustrations/Landing/background3.svg"
        imageLocation="../../assets/Illustrations/Landing/dev-focus.svg"
        cardTitle="Developer Centric"
        cardContent="While our product has multiple use cases, we focus on the needs of developers. We believe that it's better to do one thing and do it right."
    >
    </card-comp>

</section>

<blockchain-comp></blockchain-comp>