// Define the color scheme
@brand-color            : #A41F76; // This color is used as main color on white backgrounds
@brand-color-sister     : #f3665b; // This color is used on white backgrounds to create gradient effects with the brand color
@brand-color-match      : #00AA96;
@link-color             : #008BCF;
@brand-color-dark       : #F9F871; // This is the main color on dark backgrounds
@brand-color-sister-dark: #FF9650; // For gradient effects on darker backgrounds
@text-color             : #262229;
@text-color-dark        : #FFF3FF; // Modified White

@brand-color-shade1: #ED69B7;
@brand-color-shade2: #B83688;