/* You can add global styles to this file, and also import other style files */

// Add uikit as global style
@import "../node_modules/uikit/src/less/uikit.less";

// Add fonts
// Noto Sans for almost all text
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
// Cantarell for 'Instrumentality'
@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');

/* Global styles */
button {
    background-color: transparent;
}